venv/
__pycache__/
*.pyc

.env
auth/*
!auth/.gitkeep
db/*
!db/.gitkeep
data/videos_out/*
data/beats/*
data/images/*

.DS_Store
.idea/
.vscode/
youtube_token.json
youtube_client_secret.json
beatstars_state.json
client_secret_693088067321-54nie6t90smgtdh4re2pmpmeoreeua3o.apps.googleusercontent.com.json
secrets/
Miniconda3-latest-MacOSX-arm64.sh
Miniconda*
