venv/
__pycache__/
*.pyc

.env
auth/*
!auth/.gitkeep
db/*
!db/.gitkeep
data/videos_out/*
data/beats/*
data/images/*

.DS_Store
.idea/
.vscode/
youtube_token.json
youtube_client_secret.json
beatstars_state.json
